@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* CSS declarations go here */
body {
  padding-top: 60px;
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}
h3 {
  margin-top: 0;
}

.text-uppercase strong {
  background-color: #DCE9E9;
  padding: 0 5px;
}
.saveButton,
.deleteButton,
.btn {
	margin-top: 5px;
	margin-right: 5px;
}
.navbar-default {
background-color: #d8e7ea;
border-color: #e7e7e7;
  background-color: rgba(216,230,230,0.7);
}
.navbar-default .matte {
  background-color: rgba(216,230,230,1);
}

/*.estado {
  display: block;
  width: 30px;
  padding: 30px; 
  border-radius: 15px;
}*/

#login-buttons {
  margin-top: 12px;

}
.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:0.3s;
 -moz-animation-duration:0.3s;
 animation-duration:0.3s;
}


a.amarillo, a.rojo, a.verde {
  display: block;
  text-indent: 0;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color: #333333;
  padding-top: 23px;
  height: 70px;

  width:100%;
  min-width: 70px;
  max-height: 70px;
  margin-bottom: 10px;
  border-radius:5px;

}
.amarillo {
	background-color: yellow;
	width: 15%;
	text-indent: -9999px;
}
.rojo {
	background-color: red;
	width: 15%;
	text-indent: -9999px;
}
.verde{
	background-color: lime;
	width: 15%;
	text-indent: -9999px;
}

.limitWidth {
  max-width: 70px;
}
.col-sm-1.col-md-1.col-lg-1 img {
 width:100%;
 min-width: 50px;
 max-height: 50px;
 margin-bottom: 10px;
 border-radius:5px;
}

table thead tr {
background-color: #f0f0f0;
border-color: #e7e7e7;
}


table tr td.filtroEstado a.filterMenu{
  display: inline-block;
  text-transform: uppercase;
  font-size: 11px;
  width: 60px;
}
table tr td.filtroEstado a.filterMenu.selected{
  font-weight: bold;
  text-decoration: underline;
}
textarea {
	width: 100%;
}
.destacado {
	background-color: rgb(247, 255, 228);
}

.multilinea pre {
  /*white-space: pre;*/
  background-color: inherit;
  font: inherit;
  border: inherit;
  margin: inherit;

}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}


.item {
  display: block;
  padding: 5px;
  margin: 5px;
  background-color: #ccc;
  border: 1px solid #aaa;
  width: 200px;
  cursor: move;
}

.checkbox.listaResponsables label{
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 24px;
}
.checkbox.listaResponsables label input{
  margin-left: -20px;
}
.checkbox.listaResponsables label:hover{
  background-color: #f4f4f4;
}

.checkbox.listaResponsables h6 {
  border-top: 1px dotted #f4f4f4;
  padding-top: 10px;
}

#filterMenuHorizontal {
  margin-left: 15px;
  padding: 0;
  font-size: smaller;
}

#filterMenuHorizontal li{
  display: block;
  float: left;
  width: 130px;
  margin:0 5px 5px 0;

  overflow: hidden;

}
#filterMenuHorizontal li a{
  display: block;
  padding: 5px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px outset #c4d2b5;
  text-decoration: none;
  line-height: 0.87em;


}
#filterMenuHorizontal li a.selected{
  background-color: #e7f3d9;
  border-style: inset;
}