/* CSS declarations go here */
body {
  padding-top: 190px;
}
.saveButton,
.deleteButton,
.btn {
	margin-top: 5px;
	margin-right: 5px;
}
.navbar-default {
background-color: #d8e7ea;
border-color: #e7e7e7;
}
/*.estado {
  display: block;
  width: 30px;
  padding: 30px; 
  border-radius: 15px;
}*/

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


.amarillo {
	background-color: yellow;
	width: 15%;
	text-indent: -9999px;
}
.rojo {
	background-color: red;
	width: 15%;
	text-indent: -9999px;
}
.verde{
	background-color: lime;
	width: 15%;
	text-indent: -9999px;
}

.col-sm-1.col-md-1.col-lg-1 img {
 width:100%;
 min-width: 50px;
 max-height: 50px;
 margin-bottom: 10px;
 border-radius:5px;
}


textarea {
	width: 100%;
}
.destacado {
	background-color: rgb(247, 255, 228);
}

.multilinea pre {
  /*white-space: pre;*/
  background-color: inherit;
  font: inherit;
  border: inherit;
  margin: inherit;

}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}


.item {
  display: block;
  padding: 5px;
  margin: 5px;
  background-color: #ccc;
  border: 1px solid #aaa;
  width: 200px;
  cursor: move;
}

.checkbox.listaResponsables label{
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 24px;
}
.checkbox.listaResponsables label input{
  margin-left: -20px;
}
.checkbox.listaResponsables label:hover{
  background-color: #f4f4f4;
}

.checkbox.listaResponsables h6 {
  border-top: 1px dotted #f4f4f4;
  padding-top: 10px;
}

#filterMenuHorizontal {
  margin-left: 15px;
  padding: 0;
  font-size: smaller;
}

#filterMenuHorizontal li{
  display: block;
  float: left;
  width: 130px;
  margin:0 5px 5px 0;

  overflow: hidden;

}
#filterMenuHorizontal li a{
  display: block;
  padding: 5px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px outset #c4d2b5;
  text-decoration: none;
  line-height: 0.87em;


}
#filterMenuHorizontal li a.selected{
  background-color: #e7f3d9;
  border-style: inset;
}
