<template name="listaResponsables">
    <div class="checkbox listaResponsables">

        <div class="form-group">
            <label>
                <input type="checkbox" name="v_responsable[]" value="Decano"> Decano</label>

            <label>
                <input type="checkbox" name="v_responsable[]" value="Vice Decano"> Vice Decano</label>
        </div>

        <div class="form-group">
            <h6>Directores de Pregrado</h6>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Director de Pregrado CCP">Director de Pregrado CCP</label>

            <label>
                <input type="checkbox" name="v_responsable[]" value="Directora Plan Común SCL">Directora Plan Común SCL</label>

            <label>
                <input type="checkbox" name="v_responsable[]" value="Director Ambientes y Objetos SCL">Director Ambientes y Objetos SCL</label>

            <label>
                <input type="checkbox" name="v_responsable[]" value="Director Diseño Digital">Director Diseño Digital</label>

            <label>
                <input type="checkbox" name="v_responsable[]" value="Directora Diseño Gráfico SCL">Directora Diseño Gráfico SCL</label>
        </div>

        <div class="form-group">
            <h6>Extensión y Vinculación con el Medio</h6>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Directora de Extensión y Educación Continua">Directora de Extensión y Educación Continua</label>
            <label>
                <input type="checkbox" name="v_responsable[]" value="SubDirector de Extensión">SubDirector de Extensión</label>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Coordinador de Extensión CCP">Coordinador de Extensión CCP</label>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Coordinadora de Extensión SCL">Coordinadora de Extensión SCL</label>
        </div>

        <div class="form-group">
            <h6>Coordinadores</h6>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Coordinador Académico CCP"> Coordinador Académico CCP</label>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Coordinadora Académica SCL - Plan Común"> Coordinadora Académica SCL - Plan Común</label>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Coordinadora Académica SCL - Ambientes y Objetos"> Coordinadora Académica SCL - Ambientes y Objetos</label>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Coordinador Académico SCL - Digital"> Coordinador Académico SCL - Digital</label>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Coordinadora Académica SCL - Gráfico"> Coordinadora Académica SCL - Gráfico</label>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Coordinadora de Admision CCP"> Coordinadora de Admision CCP</label>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Coordinadora de Admision SCL"> Coordinadora de Admision SCL</label>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Coordinadora de Planificación y Desarrollo"> Coordinadora de Planificación y Desarrollo</label>
        </div>

        <div class="form-group">
            <h6>Investigación</h6>
            <label>
                <input type="checkbox" name="v_responsable[]" value="Investigadores">Investigadores</label>
        </div>
    </div>

</template>