<template name="listaResponsables">
	<label><input type="checkbox" name="v_responsable[]" value="decano" checked> Decano</label><br />
	<label><input type="checkbox" name="v_responsable[]" value="viceDecano"> Vice Decano</label><br />
	<label><input type="checkbox" name="v_responsable[]" value="directorPregrado"> Directores Pregrado</label><br />
	<label><input type="checkbox" name="v_responsable[]" value="directorExtension"> Directora Extensión</label><br />
	<label><input type="checkbox" name="v_responsable[]" value="subDirectorExtension"> Sub Director Extensión</label><br />
	<label><input type="checkbox" name="v_responsable[]" value="coordinadorPregradoScl"> Coord. Pregrado Santiago</label><br />
	<label><input type="checkbox" name="v_responsable[]" value="coordinadorPregradoCcp"> Coord. Pregrado Concepción</label><br />
	<label><input type="checkbox" name="v_responsable[]" value="coordinadorExtension"> Coord. Extensión</label><br />
	<label><input type="checkbox" name="v_responsable[]" value="coordinadorAdmision"> Coord. Admision</label><br />
	<label><input type="checkbox" name="v_responsable[]" value="coordinadorPlanificacion"> Coord. Planificación</label><br />
	<label><input type="checkbox" name="v_responsable[]" value="investigador"> Investigador</label>
</template>