<template name="mejoraForm">
    <form id="formulario">

       {{> nav}}


                <div class="row" >
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <h2>Plan de Mejoras Acreditación</h2>
                        <small>{{_id}}</small>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="v_actividad">Nº Actividad</label>
                            <select name="v_actividad" class="form-control">
                                <option {{selected nactividad "01"}}>01</option>
                                <option {{selected nactividad "02"}}>02</option>
                                <option {{selected nactividad "03"}}>03</option>
                                <option {{selected nactividad "04"}}>04</option>
                                <option {{selected nactividad "05"}}>05</option>
                                <option {{selected nactividad "06"}}>06</option>
                                <option {{selected nactividad "07"}}>07</option>
                                <option {{selected nactividad "08"}}>08</option>
                                <option {{selected nactividad "09"}}>09</option>
                                <option {{selected nactividad "10"}}>10</option>
                                <option {{selected nactividad "11"}}>11</option>
                                <option {{selected nactividad "12"}}>12</option>
                                <option {{selected nactividad "13"}}>13</option>
                                <option {{selected nactividad "14"}}>14</option>
                                <option {{selected nactividad "15"}}>15</option>
                                <option {{selected nactividad "16"}}>16</option>
                                <option {{selected nactividad "17"}}>17</option>
                                <option {{selected nactividad "18"}}>18</option>
                                <option {{selected nactividad "19"}}>19</option>
                                <option {{selected nactividad "20"}}>20</option>
                                <option {{selected nactividad "21"}}>21</option>
                                <option {{selected nactividad "22"}}>22</option>
                                <option {{selected nactividad "23"}}>23</option>
                                <option {{selected nactividad "24"}}>24</option>
                                <option {{selected nactividad "25"}}>25</option>
                                <option {{selected nactividad "26"}}>26</option>
                                <option {{selected nactividad "27"}}>27</option>
                                <option {{selected nactividad "28"}}>28</option>
                                <option {{selected nactividad "29"}}>29</option>
                                <option {{selected nactividad "30"}}>30</option>
                                <option {{selected nactividad "31"}}>31</option>
                                <option {{selected nactividad "32"}}>32</option>
                                <option {{selected nactividad "33"}}>33</option>
                                <option {{selected nactividad "34"}}>34</option>
                                <option {{selected nactividad "35"}}>35</option>                        
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Estado</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="v_estado" value="verde" {{checked estado "verde"}}>OK</label>
                                <br/>
                                <label>
                                    <input type="radio" name="v_estado" value="amarillo" {{checked estado "amarillo"}}>En desarrollo</label>
                                <br/>
                                <label>
                                    <input type="radio" name="v_estado" value="rojo" {{checked estado "rojo"}}>Pendiente</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="v_lineamiento">Lineamiento Estratégico</label>
                            <select name="v_lineamiento" class="form-control">
                                <option {{selected lineamiento "01"}}>1 - Formación en Diseño</option>
                                <option {{selected lineamiento "02"}}>2 - Aseguramiento de la Calidad de la docencia y los procesos de gestion de la facultad</option>
                                <option {{selected lineamiento "03"}}>3 - Fortalecimiento de la innovación y el emprendimiento</option>
                                <option {{selected lineamiento "04"}}>4 - Vinculación con organizaciones públicas y privadas</option>
                                <option {{selected lineamiento "05"}}>5 - Investigación para el desarrollo y transferencia del conocimiento</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="v_area">Área de la Facultad</label>
                            <select name="v_area" class="form-control">
                                <option {{selected area "01"}}>1 - Pregrado y Posgrado</option>
                                <option {{selected area "02"}}>2 - Vinculación con el Medio</option>
                                <option {{selected area "03"}}>3 - Investigación</option>
                                <option {{selected area "04"}}>4 - Toda la Facultad</option>
                            </select>
                        </div>
                    </div>

                </div>
           
        

            <div class="form-group">
                <label for="v_descripcion">Actividad / Descripción</label>
                <textarea class="form-control destacado" rows="3" id="v_accion">{{accion}}</textarea>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="v_descripcion">Objetivo General</label>
                        <textarea class="form-control" rows="3" id="v_objetivoGeneral">{{objetivoGeneral}}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="v_descripcion">Objetivo Específico</label>
                        <textarea class="form-control" rows="3" id="v_objetivoEspecifico">{{objetivoEspecifico}}</textarea>
                    </div>
                </div>
            </div>

            
           <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="v_indicador">Indicador</label>
                                <textarea class="form-control" rows="4" id="v_indicador">{{indicador}}</textarea>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="v_meta">Meta</label>
                                <textarea class="form-control" rows="4" id="v_meta">{{meta}}</textarea>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="v_plazo">Plazo</label>
                                <textarea class="form-control" rows="4" id="v_plazo">{{plazo}}</textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="v_avance">Estado de Avance</label>
                                <textarea class="form-control" rows="22" id="v_avance">{{avance}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Responsables</label>
                        
                        <div class="checkbox">
                            {{#if _id}}
                                {{#each arrayify responsables}}
                                <label><input type="checkbox" name="v_responsable[]" checked={{value}} value="{{name}}"> {{name}}</label><br />
                                {{/each}}
                            {{else}}
                            {{> listaResponsables }}
                            {{/if}}
                        </div>
                    </div>
                </div>

            </div>

    </form>
</template>