<template name="nav">

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="btn-group" role="group" aria-label="...">
            {{#if ruta}}
                {{#if isEditable}}
                <button type="submit" class="btn btn-primary returnHome">
                    <i class="glyphicon glyphicon-floppy-saved"></i> Guardar y volver
                </button>
                <button type="submit" class="btn btn-primary saveButton">
                    <i class="glyphicon glyphicon-floppy-disk"></i> 
                </button>
                <button type="button" class="btn btn-default deleteButton"><span class="glyphicon glyphicon-trash"></span>
                </button>
                {{else}}
                <a href="/edicion/{{_id}}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                {{/if}}
            {{else}}
            <a href="/nueva" class="btn btn-default"><span class="glyphicon glyphicon-file"></span> Nueva</a>
            {{/if}}
            </div>
            
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a href="/" class="filterMenu" data-id="todos"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a data-toggle="collapse" data-target="#filterMenuHorizontal"><span class="glyphicon glyphicon-filter"></span> Filtros</a></li>
                <!--li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Responsables <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" class="filterMenu" data-id="todos">Ver todos</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Filtrar responsabilidades de:</li>
                        <li><a href="#" class="filterMenu" data-id="Decano">Decano</a></li>
                        <li><a href="#" class="filterMenu" data-id="Vice Decano">Vice Decano</a></li>

                        <li class="divider"></li>
                        <li><a href="#" class="filterMenu" data-id="Director de Pregrado CCP">Director de Pregrado CCP</a></li>
                        <li><a href="#" class="filterMenu" data-id="Directora Plan Común SCL">Directora Plan Común SCL</a></li>
                        <li><a href="#" class="filterMenu" data-id="Director Ambientes y Objetos SCL">Director Ambientes y Objetos SCL</a></li>
                        <li><a href="#" class="filterMenu" data-id="Director Diseño Digital">Director Diseño Digital</a></li>
                        <li><a href="#" class="filterMenu" data-id="Directora Diseño Gráfico SCL">Directora Diseño Gráfico SCL</a></li>

                        <li class="divider"></li>
                        <li><a href="#" class="filterMenu" data-id="Directora de Extensión y Educación Continua">Directora de Extensión y Educación Continua</a></li>
                        <li><a href="#" class="filterMenu" data-id="SubDirector de Extensión">SubDirector de Extensión</a></li>
                        <li><a href="#" class="filterMenu" data-id="Coordinador de Extensión CCP">Coordinador de Extensión CCP</a></li>
                        <li><a href="#" class="filterMenu" data-id="Coordinadora de Extensión SCL">Coordinadora de Extensión SCL</a></li>
                        
                        <li class="divider"></li>
                        <li><a href="#" class="filterMenu" data-id="Coordinador Académico CCP"> Coordinador Académico CCP</a></li>
                        <li><a href="#" class="filterMenu" data-id="Coordinadora Académica SCL - Plan Común"> Coordinadora Académica SCL - Plan Común</a></li>
                        <li><a href="#" class="filterMenu" data-id="Coordinadora Académica SCL - Ambientes y Objetos"> Coordinadora Académica SCL - Ambientes y Objetos</a></li>
                        <li><a href="#" class="filterMenu" data-id="Coordinador Académico SCL - Digital"> Coordinador Académico SCL - Digital</a></li>
                        <li><a href="#" class="filterMenu" data-id="Coordinadora Académica SCL - Gráfico"> Coordinadora Académica SCL - Gráfico</a></li>
                        <li><a href="#" class="filterMenu" data-id="Coordinadora de Admision CCP"> Coordinadora de Admision CCP</a></li>
                        <li><a href="#" class="filterMenu" data-id="Coordinadora de Admision SCL"> Coordinadora de Admision SCL</a></li>
                        <li><a href="#" class="filterMenu" data-id="Coordinadora de Planificación y Desarrollo"> Coordinadora de Planificación y Desarrollo</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="filterMenu" data-id="Investigadores"> Investigadores</a></li>
                    </ul>
                </li-->
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div><!--/.container -->
    <div class="container">
        <div class="row">
            <ul id="filterMenuHorizontal" class="collapse-group collapse" aria-expanded="false">
            
                <li><a href="#" class="filterMenu selected" data-id="todos">Ver todos</a></li>
                <li><a href="#" class="filterMenu" data-id="Decano">Decano</a></li>
                <li><a href="#" class="filterMenu" data-id="Vice Decano">Vice Decano</a></li>
                
                <li><a href="#" class="filterMenu" data-id="Director de Pregrado CCP">Director de Pregrado CCP</a></li>
                <li><a href="#" class="filterMenu" data-id="Directora Plan Común SCL">Directora Plan Común SCL</a></li>
                <li><a href="#" class="filterMenu" data-id="Director Ambientes y Objetos SCL">Director Ambientes y Objetos SCL</a></li>
                <li><a href="#" class="filterMenu" data-id="Director Diseño Digital">Director Diseño Digital</a></li>
                <li><a href="#" class="filterMenu" data-id="Directora Diseño Gráfico SCL">Directora Diseño Gráfico SCL</a></li>
            
                <li><a href="#" class="filterMenu" data-id="Directora de Extensión y Educación Continua">Directora de Extensión y Educación Continua</a></li>
                <li><a href="#" class="filterMenu" data-id="SubDirector de Extensión">SubDirector de Extensión</a></li>
                <li><a href="#" class="filterMenu" data-id="Coordinador de Extensión CCP">Coordinador de Extensión CCP</a></li>
                <li><a href="#" class="filterMenu" data-id="Coordinadora de Extensión SCL">Coordinadora de Extensión SCL</a></li>
            
                <li><a href="#" class="filterMenu" data-id="Coordinador Académico CCP"> Coordinador Académico CCP</a></li>
                <li><a href="#" class="filterMenu" data-id="Coordinadora Académica SCL - Plan Común"> Coordinadora Académica SCL - Plan Común</a></li>
                <li><a href="#" class="filterMenu" data-id="Coordinadora Académica SCL - Ambientes y Objetos"> Coordinadora Académica SCL - Ambientes y Objetos</a></li>
                <li><a href="#" class="filterMenu" data-id="Coordinador Académico SCL - Digital"> Coordinador Académico SCL - Digital</a></li>
                <li><a href="#" class="filterMenu" data-id="Coordinadora Académica SCL - Gráfico"> Coordinadora Académica SCL - Gráfico</a></li>
                
                <li><a href="#" class="filterMenu" data-id="Coordinadora de Admision CCP"> Coordinadora de Admision CCP</a></li>
                <li><a href="#" class="filterMenu" data-id="Coordinadora de Admision SCL"> Coordinadora de Admision SCL</a></li>
                <li><a href="#" class="filterMenu" data-id="Coordinadora de Planificación y Desarrollo"> Coordinadora de Planificación y Desarrollo</a></li>

                <li><a href="#" class="filterMenu" data-id="Investigadores"> Investigadores</a></li>

                <li><a href="#" class="filterMenu" data-id="rojo"> Rojo</a></li>
                <li><a href="#" class="filterMenu" data-id="amarillo"> Amarillo</a></li>
                <li><a href="#" class="filterMenu" data-id="verde"> Verde</a></li>
            
            </ul>
        </div>

    </div>
</nav>
</template>