<template name="nav">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              
                   <button type="button" class="btn btn-primary saveButton" id="guardarActividad"><span class="glyphicon glyphicon glyphicon-floppy-disk"> Guardar</span>
                    </button>
                    <button type="button" class="btn btn-default deleteButton"><span class="glyphicon glyphicon-trash"></span>
                    </button>

                
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                
                    <li class=""><a href="/">Home</a>
                    </li>
                    <li class=""><a href="/nueva">Nueva</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Responsables <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" class="filterMenu" data-id="nadie">Ver todos</a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Filtrar responsabilidades de:</li>
                            <li><a href="#" class="filterMenu" data-id="decano">Decano</a>
                            </li>
                            <li><a href="#" class="filterMenu" data-id="viceDecano">Vice Decano</a>
                            </li>
                            <li><a href="#" class="filterMenu" data-id="directorPregrado">Director de Pregrado</a>
                            </li>
                            <li><a href="#">Director de Extensión</a>
                            </li>
                            <li><a href="#">Sub-Director de Extensión</a>
                            </li>
                            <li><a href="#">Coordinadores de Pregrado</a>
                            </li>
                            <li><a href="#">Coordinadores de Extensión</a>
                            </li>
                            <li><a href="#">Coordinadores de Admisión</a>
                            </li>
                            <li><a href="#">Coordinadores de Planificación</a>
                            </li>
                            <li><a href="#">Investigadores</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Acciones <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <div class="row" style="width: 400px;">
                                    <ul class="list-unstyled col-md-4">
                                        <li class="dropdown-header">Debilidad 01</li>
                                        <li><a href="#">01</a>
                                        </li>
                                        <li><a href="#">02</a>
                                        </li>
                                        <li><a href="#">03</a>
                                        </li>
                                        <li><a href="#">04</a>
                                        </li>
                                        <li><a href="#">04</a>
                                        </li>
                                        <li class="divider"></li>

                                        <li class="dropdown-header">Debilidad 02</li>
                                        <li><a href="#">05</a>
                                        </li>
                                        <li><a href="#">06</a>
                                        </li>
                                        <li><a href="#">07</a>
                                        </li>
                                        <li><a href="#">08</a>
                                        </li>
                                        <li><a href="#">09</a>
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled col-md-4">
                                       <li class="dropdown-header">Debilidad 03</li>
                                        <li><a href="#">10</a>
                                        </li>
                                        <li><a href="#">11</a>
                                        </li>
                                        <li><a href="#">12</a>
                                        </li>
                                        <li><a href="#">13</a>
                                        </li>
                                        <li><a href="#">14</a>
                                        </li>
                                        <li class="divider"></li>

                                        <li class="dropdown-header">Debilidad 04</li>
                                        <li><a href="#">15</a>
                                        </li>
                                        <li><a href="#">16</a>
                                        </li>
                                        <li><a href="#">17</a>
                                        </li>
                                        <li><a href="#">18</a>
                                        </li>
                                        <li><a href="#">19</a>
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled col-md-4">
                                       <li class="dropdown-header">Debilidad 05</li>
                                        <li><a href="#">20</a>
                                        </li>
                                        <li><a href="#">21</a>
                                        </li>
                                        <li><a href="#">22</a>
                                        </li>
                                        <li><a href="#">23</a>
                                        </li>
                                        <li><a href="#">24</a>
                                        </li>
                                        <li class="divider"></li>

                                        <li class="dropdown-header">Debilidad 06</li>
                                        <li><a href="#">25</a>
                                        </li>
                                        <li><a href="#">26</a>
                                        </li>
    
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                

            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</template>